pre
{
  font-size: 18px;
  overflow-x: auto;
  font-weight: 300;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  color: #5c5c5c;
  background-color: #fcfcfc;
  margin-top: 20px;
  margin-bottom: 40px;

}

pre code
{
    overflow-wrap: normal;
    white-space: pre;
}


p
{
  color: #292929;
  margin-top: 15px;
  margin-bottom: 55px;
}

.colorx
{
  background-color: #282B2E;
}

.lowmar
{
  margin-bottom: 10px;
}

.midmar
{
  margin-bottom: 30px;
}

.nullmar
{
  margin-bottom: 0px;
}

.null
{
  margin:5px 0 0 0;
  padding: 0;
  color: rgba(95, 95, 95, 0.78);
}

.output
{
  color:rgba(15, 86, 139, 0.83);
}

.toph
{
  color:#21232e;
  margin-top: 30px;
  margin-bottom: 40px;
}

.red
{
  background: rgba(255, 0, 69, 0.80);
  transition: all .3s ease-in-out;
}

.green
{
  background: rgba(137, 255, 0, 0.80);
  transition: all .3s ease-in-out;
}

.orange
{
  color: #EC7111;
}

img
{
  margin-left: auto;
  margin-right: auto;
}

/* EXPERIMENT */
